[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = http://github.com/winterTTr/ace-jump-mode.git
[submodule "magit"]
	path = magit
	url = http://github.com/magit/magit.git
[submodule "el-get"]
	path = el-get
	url = http://github.com/dimitri/el-get.git
[submodule "scss-mode"]
	path = scss-mode
	url = http://github.com/antonj/scss-mode.git
